
      html,
      body {
        margin: 0px auto;
        max-width: 980px;
        width: 100%;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0px;
        text-align: start;
      }
      .ancient_paper {
        position: relative;
        background-image: url("https://wallpaperaccess.com/full/781373.jpg");
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .banner {
        width: 100%;
      }

      .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 300px);
        padding: 50px;
      }

      .section {
        font-size: 2.2rem;
      }

      .thirukkural {
        font-size: 2rem;
        color: black;
      }

      .author {
        text-align: end;
      }

      .clearfix-20 {
        height: 20px;
      }

      .fab {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 50px;
        height: 50px;
        background: brown;
        outline: none;
        border: none;
        border-radius: 50%;
        background-size: contain;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Refresh_icon.svg/2048px-Refresh_icon.svg.png");
      }

      @media screen and (max-width: 690px) {
        .thirukkural {
          font-size: 1.4rem;
        }
      }

      @media screen and (max-width: 560px) {
        .thirukkural {
          font-size: 1.2rem;
        }
      }
    